/* Place your CSS styles in this file */
@font-face{
    font-family: "Luminari-Regular";
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Luminari-Regular.woff') format('woff');
}

html {
    height: 80vw;
    overflow-x: hidden;
}

html {
    display: table;
    margin: auto;
    background-color: black;
    padding-bottom: 25vw;
}

body {
    display: table-cell;
    vertical-align: top;
    position: relative;
    background-image: url("images/parchment.png");
    background-size:contain;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Arial";
    font-weight: normal;
    font-size: 1.8vw;
    padding-top: 9vw;
    padding-bottom: 30vw;
    line-height: 1.5vw;

    width: 90vw;
}

.fairy {
    height: 18vw;
    position: absolute;
    top: 35vw;
    left: 36vw;
}

.gameText {
    position: absolute;
    color: white;
    font-size: 2.5vw;
}

.sonnetText {
    font-size: 2.0vw;
    line-height: 2.5vw;
}

#actionText {
    top: 102vw;
    width: 70vw;
    left: 9.5vw;
    padding-bottom: 20vw;
}

#storyText {
    top: 70vw;
    left: 0vw;
    width: 100%;
}

#storyText.fairiesVisible {
    top: 85vw;
}

#sparkles {
    position: absolute;
    top: 80vw;
    left: 30.5vw;
    width: 30vw;
    height: 30vw;
    clip: rect(0, 28vw, 28vw, 0);
    cursor: pointer;
}

.fadeable {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden-on-load {
    display: none;
}

.fairies {
    position: absolute;
    top: 65vw;
    left: 0vw;
    width: 90vw;
    height: auto;
}

.fairy1 {
    clip: rect(0, 10vw, 20vw, 0);
    margin-left: 3vw;
}

.fairy2 {
    clip: rect(0, 30vw, 20vw, 10vw);
    margin-left: -12vw;
}

.fairy3 {
    clip: rect(0, 48vw, 20vw, 28vw);
    margin-left: -29vw;
}

.fairy4 {
    clip: rect(0, 65vw, 20vw, 47vw);
    margin-left: -46.5vw;
}

.fairy5 {
    clip: rect(0, 80.5vw, 20vw, 62.5vw);
    margin-left: -62.5vw;
}

.fairy6 {
    clip: rect(0, 95vw, 20vw, 78vw);
    margin-left: -78vw;
}

.fairy7 {
    clip: rect(0, 113vw, 20vw, 95vw);
    margin-left: -93vw;
}